.logo {
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-size: 8em;
  font-weight: normal;
  color: #673ab7;
  margin-top: 0;
  margin-bottom: 25vh;
}

.subtext {
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-size: 3em;
  font-weight: normal;
  font-style: italic;
  color: #ffd740;
  margin-bottom: 0;
}

mat-card {
  margin: auto;
  width: 15em;
}

mat-card-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
