<md-card>
  <md-card-header>
    <md-card-title>{{model.question}}</md-card-title>
  </md-card-header>
  <md-card-content>
    <pre *ngIf="model.code">{{model.code}}</pre>
    <md-radio-group [(ngModel)]="selection">
      <ng-template ngFor let-answer [ngForOf]="model.answers" let-i="index">
        <md-radio-button [value]="i">{{answer}}</md-radio-button>
        <br />
        <br />
      </ng-template>
    </md-radio-group>
    <button md-raised-button (click)="advance()" color="primary" [disabled]="selection == undefined">Next</button>
  </md-card-content>
</md-card>
